.productCount {
  position: absolute;
  top: 60%;
  left: 80%;
  background-color: aliceblue;
  border-radius: 50%;
  width: 28px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
/* transform: translate(-50%, -50%); */
}