.root {
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.productCount {
  position: absolute;
  top: 60%;
  left: 80%;
  background-color: aliceblue;
  border-radius: 50%;
  width: 28px;
  height: 29px;
}

.modal {
  width: 600px;
  height: 600px;
}