.header {
  background-color: #030000;
  h1 {
    margin-top: 0;
    text-align: center;
    padding: 40px 20px;
    font-size: 80px;
    color: #eea316;
    font-family: "Fira Code", sans-serif;
  }
}