.header {
  background-color: rgba(0, 0, 0, 0.84);
  display: grid;
  grid-template-columns: 100px auto 300px;
  grid-template-rows: 1fr;
  overflow: hidden;

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    font-size: 60px;
    color: #eea316;
    font-family: "Fira Code", sans-serif;
  }
}